*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.ubuntu {
  font-family: "Ubuntu Mono", monospace;
}

.font-coco {
  font-family: "COCOGOOSE", sans-serif;
}

.cursive {
  font-family: "Beau Rivage", cursive;
}

.header-top__navbar--link {
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #fff;
}
.header-top__navbar--link:hover {
  color: #ec5242;
}
.header .nav-log__link--img {
  width: 18rem;
}
.header .nav__list--link {
  padding: 1rem 1.5rem;
  color: #272a31;
  font-size: 1.6rem;
}
.header .nav__list--link:hover {
  color: #ec5242;
}
.header .nav .compaign {
  color: #ec5242;
  border: 4px solid #ec5242;
  margin-left: 3rem;
}
.header .nav .active {
  color: #ec5242;
}
.header-bottom {
  background: rgba(211, 211, 211, 0.3);
  height: 5rem;
}
.header .fa-bars {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header .fa-bars {
    font-size: 4rem;
    position: fixed;
    top: 2rem;
    left: 4rem;
    color: #272a31;
    display: block;
  }
  .header .fa-bars:hover {
    cursor: pointer;
  }
}

.partner {
  color: grey;
}
.partner-heading {
  font-size: 3rem;
  width: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ec5242;
  padding-bottom: 1.5rem;
}
.partner__list {
  font-size: 3rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media only screen and (max-width: 467px) {
  .partner__list {
    flex-direction: column;
  }
}
.partner__list--item {
  padding: 0.5rem;
}

.footer {
  color: rgba(39, 42, 49, 0.8);
  font-size: 1.5rem;
}
.footer__logo--img {
  width: 30rem;
}
@media only screen and (max-width: 767px) {
  .footer__logo--img {
    width: 40vw;
  }
}
.footer__copy--text {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 767px) {
  .footer__copy--desktop {
    display: none;
  }
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.header > * {
  padding: 0 2rem;
}
.header-top {
  background: #272a31;
  color: #fff;
}
.header-top__navbar {
  display: flex;
  padding-right: 0.5rem;
  height: 3.5rem;
  max-width: 110rem;
  margin: 0 auto;
  justify-content: flex-end;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header-top {
    display: none;
  }
}
.header .nav {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  max-width: 110rem;
  margin: 0 auto;
  align-items: center;
}
.header .nav__list {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .header .nav {
    display: none;
  }
}

.partner {
  background: #272a31;
  padding: 4rem 2rem;
}

.footer {
  background: #d3d3d3;
  padding: 7rem 2rem;
}
.footer-container {
  display: flex;
}
.footer__copy {
  padding: 0.5rem 0 0 5rem;
}
@media only screen and (max-width: 767px) {
  .footer__copy {
    padding-left: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
