$black :#272a31;
$red: #ec5242;
$grey: #d3d3d3;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  color: $black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
}

.ubuntu {
  font-family: 'Ubuntu Mono', monospace;
}

.font-coco {
  font-family: 'COCOGOOSE', sans-serif;
}

.cursive {
  font-family: 'Beau Rivage', cursive;
}

.heading-secondary {
  font-size: 3rem;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 4.5rem;
    border-bottom: 1px solid $red;
  }
}

svg {
  fill: #fff;
}
