
.header {
	&-top__navbar {
		&--item {
			
		}
	
		&--link {
			padding: 1rem 1.5rem;
			text-decoration: none;
			color: #fff;

			&:hover {
				color:$red;
			}
		}
	}
	

	.nav {
		
		&-log__link--img {
			width: 18rem;
		}

		&__list {
			&--link {
				padding: 1rem 1.5rem;
				color: #272a31;
				font-size: 1.6rem;

				&:hover {
					color:$red;
				}
			}
		}
		
		.compaign {
			color: $red;
			border: 4px solid $red;
			margin-left: 3rem;
		}

		.active {
			color:$red;
		}
	}
	
	&-bottom {
		background:rgba($grey, 0.3);
		height: 5rem;
	}

	.fa-bars {
		display: none;

		@media only screen and (max-width: 767px){
			font-size: 4rem;
			position: fixed;
			top: 2rem;
			left: 4rem;
			color: #272a31;
			display: block;
			&:hover {
				cursor: pointer;
				
			}
		}
	}
}

.program__item {
	background-color: rgba($grey, 0.1);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.2s ease;
	box-sizing: border-box;
	align-content: center;
	&:hover {
		border: 2px solid $grey;
		transform: scale(1.05);
	}

	@media only screen and (max-width: 767px){
		flex-direction: row;
		justify-content: space-around;
		grid-gap: 3.5rem;
	}

	@media only screen and (max-width: 467px){
		grid-gap: 1.5rem;
	}

	&--img {
		max-width: 10rem;
		max-height: 10rem;
		padding: 1.5rem;
		@media only screen and (max-width: 467px){
			padding:0;
		}
	}

	&--heading {
		color: $red;
	}

	&--p {
		text-align: center;
		font-size: 1.6rem;
		line-height: 2.5rem;
		max-width: 17rem;
		@media only screen and (max-width: 767px){
			max-width: 25rem;
		}
	}
}

.program__btn {
	text-align: center;
	margin: 8rem auto;

	&--link {
		color: $grey;
		text-transform: uppercase;
		font-size: 2rem;
		text-decoration: underline;
		word-spacing: 5px;
	}
}

.featured__speaker {
	position: relative;
	&--bg {
		position: absolute;
		left: -1.5rem;
		top: -1.5rem;
		z-index: -5;
		max-width: 100%;
		height:7rem;
		opacity: 0.5;
	}

	&--img {
		max-width: 100%;
		height:15rem;
		
	}

	&--heading {
		font-size: 2rem;

	}

	&--span {
		color: $red;
		font-size: 1.5rem;
		font-style: italic;
		position: relative;

		&:before {
			content : "";
			position: absolute;
			bottom: -1rem;
			width: 2.5rem;
			border-bottom: 1px solid $grey;
		}
	}

	&--about {
		font-size: 1.4rem;
	}
}

.partner {
		color: grey;

	&__list {
		font-size: 3rem;
		margin: 5rem auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		@media only screen and (max-width: 467px){
			flex-direction: column;
		}

		&--item {
			padding: 0.5rem;
		}
	}
}

.footer {
	color: rgba($black, 0.8);
	font-size: 1.5rem;

	&__logo--img {
		width: 30rem;

		@media only screen and (max-width: 767px) {
			width: 40vw;
		}
	}
	&__copy {
		&--text {
			margin-bottom: 1rem;
		}

		&--desktop {
			@media only screen and (max-width: 767px) {
				display: none;
			}
		}
	}
}