.container {
	max-width: 110rem;
	padding: 2rem;
	margin: 0 auto;
}

.header {
	& > * {
		padding: 0 2rem;
	}
	&-top {
		background: $black;
		color: #fff;

		&__navbar {
			display: flex;
			padding-right: 0.5rem;
			height: 3.5rem;
			max-width: 110rem;
			margin: 0 auto;
			justify-content: flex-end;
			align-items: center;
		}

		@media only screen and (max-width:767px) {
			display: none;
		}
	}

	.nav {
		display: flex;
		justify-content: space-between;
		height: 8rem;
		max-width: 110rem;
		margin: 0 auto;
		align-items: center;

		&__list {
			display: flex;
		}

		@media only screen and (max-width: 767px){
			display: none;
		}
	}
}

.program {
	background: linear-gradient( rgba($black, 0.97),rgba($black, 0.97)), url('../img/program.jpg');

	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 3px;

		@media only screen and (max-width: 767px){
			grid-template-columns: 1fr;
			grid-row-gap: 1.5rem;
		}
	}
}

.partner {
	background: $black;
	padding: 4rem 0;
}

.footer {
	background: $grey;
	padding: 7rem 2rem;

	&-container {
		display: flex;
	}

	&__copy {
		padding: 0.5rem 0 0 5rem;

		@media only screen and (max-width: 767px) {
			padding-left: 3rem;
		}
	}
	
}
