.container {
	max-width: 110rem;
	padding: 2rem;
	margin: 0 auto;
}

.header {
	& > * {
		padding: 0 2rem;
	}
	&-top {
		background: $black;
		color: #fff;

		&__navbar {
			display: flex;
			padding-right: 0.5rem;
			height: 3.5rem;
			max-width: 110rem;
			margin: 0 auto;
			justify-content: flex-end;
			align-items: center;
		}

		@media only screen and (max-width:767px) {
			display: none;
		}
	}

	.nav {
		display: flex;
		justify-content: space-between;
		height: 8rem;
		max-width: 110rem;
		margin: 0 auto;
		align-items: center;

		&__list {
			display: flex;
		}

		@media only screen and (max-width: 767px){
			display: none;
		}
	}

	&-bottom {
		background: linear-gradient(rgba(255,255,255,0.92), rgba(255,255,255,0.92)), url('../img/bottombg.png') no-repeat;
		background-size: cover;
		&__container {
			padding: 12rem 2rem;
		}
	}
}

.program {
	background: linear-gradient( rgba($black, 0.97),rgba($black, 0.97)), url('../img/program.jpg');
	color :$grey;
	&__items {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-column-gap: 3px;
		margin: 5rem auto;

		@media only screen and (max-width: 767px){
			grid-template-columns: 1fr;
			grid-row-gap: 1.5rem;
		}
	}
}

.featured {
	color: $black;
	background: rgba($grey,0.2);

	&__speakers {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 2rem;
		margin: 6rem auto;

		@media only screen and (max-width: 767px){
			grid-template-columns: 1fr;
		}
	}

	&__speaker {
		display: flex;
		grid-column-gap: 2.5rem;
		margin-bottom: 7.5rem;

		&--details {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
	}
}

.partner {
	background: $black;
}

.footer {
	background: rgba($grey,0.2);
	padding: 7rem 2rem;

	&-about {
		background: $black;
		color: $grey;
	}
	&-container {
		display: flex;
	}

	&__copy {
		padding: 0.5rem 0 0 5rem;

		@media only screen and (max-width: 767px) {
			padding-left: 3rem;
		}
	}
	
}

.about-heading {
	text-align: center;
}